:root {
    font-family: "IBM Plex Mono", serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: white;
    background-color: rgb(191, 217, 251);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
  position: relative;
  z-index: 1;
  color: #6699ff
}

.palette {
  position: relative;
  z-index: 1;
  outline: 2px;
}

.column-buttons {
  position: relative;
  z-index: 1;
}

.column-buttons button {
  background-color: white;
  color: #6699ff;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #6699ff; 
  border-radius: 8px; 
  padding: 10px 20px;
  cursor: pointer; 
  transition: all 0.3s ease; 
  margin: 10px;
}

.column-buttons button:hover {
  background-color: #6699ff; 
  color: white; 
}

.column-buttons button:active {
  transform: scale(0.95); 
}
