:root {
  font-family: "IBM Plex Mono", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: rgb(191, 217, 251);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dot {
  position: absolute;
  bottom: 0; 
  opacity: 30%;
  border-radius: 50%; 
  animation: bounce 3s ease-in-out infinite;
}

.background {
  z-index: -1;
}

rect {
  width: 100%;
  height: 100%;
  opacity: 35%;
  rx: 20px; 
  ry: 20px;
  stroke: white;
  stroke-width: 2px;
}




.content {
  position: relative;
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 1;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the bottom */
  }
  50% {
    transform: translateY(-20px); /* Move up 20px at the peak */
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(216, 229, 251);
  color: white;
  overflow: hidden; 
  box-sizing: border-box; 
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 5.2em;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -65px;
  color: white;
}

h2 {
  font-size: 1.8em;
  font-family: "IBM Plex Mono";
  font-weight: 300;
  line-height: 1;
  position: relative;
  top: -50px;
  color: white;
}

.input {
  height: 45px;
  width: 450px;
  background-color: rgb(213, 223, 255);
  outline: 2px white;
  opacity: 60%;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
  font-family: "IBM Plex Mono";
  position: relative;
}

text {
  color: white;
}

.input-container {
  position: relative;
  transform: translateY(20px);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #96c3e8;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: white;
  }
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: italic;
}
