#root {
    font-family: "IBM Plex Mono", serif;
    line-height: 1.5;
    font-weight: 400;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.title-2 {
  font-family: "IBM Plex Mono", serif;
  position:relative;
  left: -110%;
  top: -30%;
  z-index: 1;
  font-size: 2.8em;
  font-family: "IBM Plex Mono";
  font-weight: 300;
}

rect {
  position: relative;
  transform: translateZ(0);
  z-index: -1;
  outline: 2px color white;
}